# Welcome to Julia! Basic Syntax

In [1]:
# defining variables is the same as python's syntax
awesome_var = 25

25

In [2]:
awesome_var

25

In [ ]:
\sigma #type tab to get sigma symbol

In [ ]:
Ïƒ

In [9]:
# you can define variables to symbols
Ïƒ = 2.5

2.5

In [5]:
\:smile_cat: #type tab to get emoji
ðŸ˜º  = "ðŸ˜º"     # julia is fully unicode!

"ðŸ˜º"

In [6]:
ðŸ˜º

"ðŸ˜º"

In [10]:
typeof(ðŸ˜º)

String

In [11]:
# single quotes define characters
typeof('a')

Char

In [1]:
# You cant assign strings using single quotes
a = 'hola'

LoadError: syntax: character literal contains multiple characters

In [12]:
# double quotes define strings
typeof("a")

String

In [13]:
Ïƒ = 2.5        # \sigma with tab completion

2.5

In [14]:
sqrt(Ïƒ^2)

2.5

In [15]:
println("Ïƒ = ", Ïƒ)

Ïƒ = 2.5

In [16]:
? println # get function help

search: println printstyled print sprint isprint

  println([io::IO], xs...)

  Print (using print) xs followed by a newline. If io is not supplied, prints
  to stdout.

  Examples
  â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡â‰¡

  julia> println("Hello, world")
  Hello, world

  julia> io = IOBuffer();

  julia> println(io, "Hello, world")

  julia> String(take!(io))
  "Hello, world\n"

In [17]:
answer = 42
typeof(answer)

Int64

In [18]:
e = 3.141
typeof(e)

Float64

In [20]:
# multiple assignment 
a, b = 10, 20

(10, 20)

In [21]:
println(a)
println(b)

10
20

In [22]:
:4          # literal type

4

In [23]:
typeof(:4)

Int64

In [24]:
# this creates a symbol
:best

:best

In [25]:
typeof(:b)

Symbol

In [3]:
:b = 20

LoadError: syntax: invalid assignment location ":b" around In[3]:1

In [26]:
println(b)

20

## Basic Arithmetic

In [27]:
println(3+5, 3-1, 3*4, 3/5, 6%4)      # not what you expect! there will be no spaces printed betwen values

82120.62

In [28]:
println("a", "b")

ab

In [29]:
println([ 3+5, 3-1, 3*4, 3/5, 6%4 ])     # passing values as an array will print a space between

[8.0, 2.0, 12.0, 0.6, 2.0]

In [30]:
typeof([1, 2, 4.0])     # everything is converted to a Float64

Array{Float64,1}

In [31]:
print("a")
print("b")   # no new line at end

ab

In [32]:
4//2    # builtin support for rationals

2//1

In [33]:
5//2 + 4//2  # rationals operations

9//2

In [36]:
convert(Int64, 1.0)

1

In [37]:
convert(Float64, 1)

1.0

In [38]:
convert(Int64, 1.3)   # can't convert floats to integers, you should round them first

LoadError: InexactError: Int64(1.3)

In [5]:
convert(Int64, round(1.3))   # can't convert floats to integers, you should round them first

1

## Boolean Operators

In [41]:
val_t = true 
val_f = false;       # the final semicolon supresses output

In [42]:
val_t && val_f #And operation

false

In [43]:
val_t || val_f # Or operation

true

In [44]:
!val_t #negation

false

## String Operations

In [46]:
name = "John"
age = 35
println("The customer's name is $(name) who is $(age) years old.") 
# using $() works to insert variables in strings similar to using formated strings in python

The customer's name is John who is 35 years old.

In [48]:
phrase = "The customer's name is $(name) who is $(age) years old."

"The customer's name is John who is 35 years old."

In [49]:
s1 = "Awesome" 
s2 = "Blossom"

"Blossom"

In [52]:
s1 * s2 # use * to concatenate text

"AwesomeBlossom"

In [53]:
# use join function to join strings 
join([s1, s2], " ")

"Awesome Blossom"

In [54]:
alphabet = ['a', 'b', 'c', 'd']
join(alphabet, ' ')

"a b c d"

In [55]:
s1 ^ 3  # this will print s1 three times, different to python's **

"AwesomeAwesomeAwesome"