# Control Structures

## Conditionals

In [1]:
x = 25

25

Statement blocks need an **end** statement. There is no colon at the end of the header and indentation is ignored by the interpreter (but you should, of course, still do it as a good practice).

In [2]:
if x > 20
    println("x is greater than 20")
end

x is greater than 20

In [3]:
#Bad practice
if x > 20
println("x is greater than 20")
end

x is greater than 20

### Example

FizzBuzz test: given a number, *n*, print "Fizz" if *n* is divisible by 3, "Buzz" if *n* is divisible by 5, and "FizzBuzz" if *n* is divisible by 3 **and** 5. Otherwise just print *n* itself.

In [4]:
n = 13

13

You need to use "elseif" as opposed to python's "elif"

In [5]:
if (n % 3 == 0) && (n % 5 == 0) 
    println("FizzBuzz")
elseif n % 3 == 0
    println("Fizz")
elseif n % 5 == 0
    println("Buzz")
else
    println(n)
end

13

The ternary operator should, in general, be avoided.

In [6]:
x = 13
y = 6 

z = (x > y) ? x : y            # <condition> ? <value if true> : <value if false> 
println(z)

13

## Iteration

In [11]:
i = 0 
while i < 10 
    println("i is: ", i)
    i += 1 
end

i is: 0
i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9

In [7]:
nums = [1, 2, 3, 4, 5, 6, 7, 80, 9]

for var in nums
    println(var)
end

1
2
3
4
5
6
7
80
9

In [8]:
for var in 1:10 #This is similar to a range in python, both first and last values are included
    println(var) 
end

1
2
3
4
5
6
7
8
9
10

In [9]:
1:10

1:10

In [17]:
typeof(1:10)     # very similar to the range object in python

UnitRange{Int64}